<div [formGroup]="solutionFormGroup" class="mat-elevation-z2 card">
  <div formArrayName="solutionSources" class="source">

    <mat-tab-group>
      <mat-tab *ngFor="let source of solutionFormGroup.controls.solutionSources.controls; let i = index;">
        <div [formGroupName]="i">
          <ng-template mat-tab-label>
            {{ source.value.fileName }}
          </ng-template>
          <ng-template matTabContent>
            <div class="source__editor">
              <ngx-monaco-editor [options]="editorOptions" formControlName="content" class="source__monaco">
              </ngx-monaco-editor>
            </div>
          </ng-template>
        </div>
      </mat-tab>
    </mat-tab-group>

  </div>
</div>