@import "src/variables.scss";

.table {
  margin: 20px 0;

  mat-header-cell {
    font-size: 1em;
  }
  
  mat-row:hover {
    background-color: $grey-light;
    cursor: pointer;
  }
}

.paginator {
  width: 50%;
  float: right;
}
