mat-header-cell, mat-cell {
  display: flex;
  justify-content: center;
}

.mat-column-id {
  width: 10% !important;
}

mat-row:hover {
  background-color: #f5f5f5;
  cursor: pointer;
}

.link {
  width: 20%;
  margin: 20px 0;
  float: left;

  .link__icon {
    display: inline-block;
    height: 100%;
    font-size: 32px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .link__content button {
    width: 100%;
  }
}