<h2>Courses overview</h2>

<div *ngIf="dataSource">
  <mat-table [dataSource]="dataSource" class="mat-elevation-z2 table">

    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef>
        Name
      </mat-header-cell>
      <mat-cell *matCellDef="let element">
        {{element.name}}
      </mat-cell>
    </ng-container>

    <!-- Decription Column -->
    <ng-container matColumnDef="description">
      <mat-header-cell *matHeaderCellDef>
        Decription
      </mat-header-cell>
      <mat-cell *matCellDef="let element">
        {{element.description }}
      </mat-cell>
    </ng-container>

    <!-- Created Column -->
    <ng-container matColumnDef="created">
      <mat-header-cell *matHeaderCellDef>
        Created
      </mat-header-cell>
      <mat-cell *matCellDef="let element">
        {{element.created | date:'MMMM d, y' }}
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;" [routerLink]="['../courseDetail', row.id]"
      routerLinkActive="active"></mat-row>

  </mat-table>
</div>

<div class="paginator">
  <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
</div>

<div class="link">
  <a [routerLink]="['create', 'course']" routerLinkActive="active">
    <button mat-button type="button" mat-stroked-button color="primary">
      Create course
    </button>
  </a>
</div>