<a mat-button color="primary" routerLink="../../" routerLinkActive="active" mat-button>Back</a>

<div class="mat-elevation-z2 card">

	<div *ngIf="index">

		<h2>{{lesson.name}}</h2>

		<h4>{{lesson.description}}</h4>

		<p>Exercises:</p>

		<div cdkDropList class="example-list" (cdkDropListDropped)="drop($event)">
			<div class="example-box" *ngFor="let exercise of exercises" cdkDrag>{{exercise.name}}</div>
		</div>

		<button mat-raised-button color="primary" [routerLink]="['exerciseCreate', index]" routerLinkActive="active">
			Add exercise
		</button>

	</div>
</div>