.card {
  margin: 40px 0;

  .form {
    padding: 20px;

    .mat-form-field {
        display: flex;
        flex-direction: column;
        width: 70%;
      }
  }

  .submit__button {
    font-size: 1.3em;
    padding: 10px;
    text-align: center;
    width: 100%;

  }

  .response {
    text-align: center;
    padding: 20px;

    .capitalise {
      text-transform: capitalize;
    }
  }
}
