<div [formGroup]="exerciseFormGroup" class="mat-elevation-z2 card">

  <h3>Files</h3>

  <div formArrayName="files" class="env">
    <mat-tab-group>
      <mat-tab *ngFor="let file of exerciseFormGroup.controls.files.controls; let i = index;">
        <div [formGroupName]="i">
          <ng-template mat-tab-label>
            {{ file.value.filename }}
            <button mat-icon-button type="button">
              <mat-icon (click)="editFilename(file.controls.filename)">edit</mat-icon>
            </button>
            <button mat-icon-button type="button">
              <mat-icon (click)="remove(i)">clear</mat-icon>
            </button>
          </ng-template>
          <ng-template matTabContent>
            <div class="env__container">
              <ngx-monaco-editor [options]="editorOptions" formControlName="content" class="env__editor">
              </ngx-monaco-editor>
            </div>
          </ng-template>
        </div>
      </mat-tab>
      <mat-tab>
        <ng-template mat-tab-label>
          <button mat-icon-button type="button">
            <mat-icon (click)="add()">add</mat-icon>
          </button>
        </ng-template>
      </mat-tab>
    </mat-tab-group>
  </div>

  <div *ngIf="lessons">
      <mat-checkbox [formControl]="exerciseFormGroup.controls.loadFiles.controls.checked">Load student's initial
        solution from exercise
      </mat-checkbox>
  
      <div *ngIf="exerciseFormGroup.controls.loadFiles.controls.checked.value">
        <mat-form-field>
          <mat-select [formControl]="exerciseFormGroup.controls.loadFiles.controls.lessonId">
            <mat-option *ngFor="let lesson of lessons" [value]="lesson.id">
              {{lesson.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>
  
        <div *ngIf="exercises">
          <mat-form-field>
            <mat-select [formControl]="exerciseFormGroup.controls.loadFiles.controls.exerciseId">
              <mat-option *ngFor="let exercise of exercises" [value]="exercise.id">
                {{exercise.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
    </div>

</div>