<a mat-button color="primary" routerLink="../../" routerLinkActive="active" mat-button>Back</a>

<form [formGroup]="exerciseFormGroup">

  <div *ngIf="exerciseFormGroup.controls.params.controls.success.value; then success; else form"></div>

  <ng-template #form>

    <create-intro [exerciseFormGroup]="exerciseFormGroup"></create-intro>

    <div *ngIf="exerciseFormGroup.controls.intro">
      <div *ngIf="exerciseFormGroup.controls.intro.controls.type.value"
        [ngSwitch]="exerciseFormGroup.controls.intro.controls.type.value.value">
        <div *ngSwitchCase="'whitebox'">
          <p>source-test</p>
          <create-editors [exerciseFormGroup]="exerciseFormGroup" formGroupName=sourceControl></create-editors>
          <create-editors [exerciseFormGroup]="exerciseFormGroup" formGroupName=testControl></create-editors>
        </div>
        <div *ngSwitchCase="'whitebox-file'">
          <p>source-test-file</p>
          <create-editors [exerciseFormGroup]="exerciseFormGroup" formGroupName=sourceControl></create-editors>
          <create-editors [exerciseFormGroup]="exerciseFormGroup" formGroupName=testControl></create-editors>
          <create-editors [exerciseFormGroup]="exerciseFormGroup" formGroupName=fileControl></create-editors>
        </div>
        <div *ngSwitchCase="'blackbox'">
          <create-editors [exerciseFormGroup]="exerciseFormGroup" formGroupName=sourceControl></create-editors>
          <create-editors [exerciseFormGroup]="exerciseFormGroup" formGroupName=testControl></create-editors>
        </div>
        <div *ngSwitchCase="'blackbox-file'">
          <p>test-file</p>
          <create-editors [exerciseFormGroup]="exerciseFormGroup" formGroupName=sourceControl></create-editors>
          <create-editors [exerciseFormGroup]="exerciseFormGroup" formGroupName=testControl></create-editors>
          <create-editors [exerciseFormGroup]="exerciseFormGroup" formGroupName=fileControl></create-editors>
        </div>
        <div *ngSwitchCase="'theory'">
          <p>theory</p>
        </div>
        <div *ngSwitchDefault>
          <p>default</p>
        </div>
      </div>

      <create-submit [exerciseFormGroup]="exerciseFormGroup"></create-submit>

    </div>

  </ng-template>

  <ng-template #success>
    <div class="mat-elevation-z2 card">
      <p>Exercise was created successfully.</p>
    </div>
  </ng-template>


</form>

<pre>{{ exerciseFormGroup.value | json }}</pre>