<a mat-button color="primary" routerLink="../../" routerLinkActive="active" mat-button>Back</a>

<div>
  <form [formGroup]="exerciseFormGroup">

    <create-intro [exerciseFormGroup]="exerciseFormGroup"></create-intro>

    <div [ngSwitch]="exerciseFormGroup.controls.intro.controls.exerciseType.value">
      <div *ngSwitchCase="'source-test'">
        <p>source-test</p>
        <create-source [exerciseFormGroup]="exerciseFormGroup"></create-source>
        <create-test [exerciseFormGroup]="exerciseFormGroup"></create-test>
        <!--<solve-run [solutionFormGroup]="solutionFormGroup"></solve-run> -->
      </div>
      <div *ngSwitchCase="'source-test-file'">
        <p>source-test-file</p>
        <create-source [exerciseFormGroup]="exerciseFormGroup"></create-source>
        <create-test [exerciseFormGroup]="exerciseFormGroup"></create-test>
        <!--<solve-run [solutionFormGroup]="solutionFormGroup"></solve-run>
            <solve-file [solutionFormGroup]="solutionFormGroup"></solve-file> -->
      </div>
      <div *ngSwitchCase="'test'">
        <p>test</p>
        <create-test [exerciseFormGroup]="exerciseFormGroup"></create-test>
        <!--<solve-run [solutionFormGroup]="solutionFormGroup"></solve-run> -->
      </div>
      <div *ngSwitchCase="'test-file'">
        <p>test-file</p>
        <create-test [exerciseFormGroup]="exerciseFormGroup"></create-test>
        <!--<solve-run [solutionFormGroup]="solutionFormGroup"></solve-run>
            <solve-file [solutionFormGroup]="solutionFormGroup"></solve-file> -->
      </div>
      <div *ngSwitchCase="'theory'">
        <p>theory</p>
      </div>
      <div *ngSwitchDefault>
        <p>default</p>
        <!-- TODO | remove when done -->
        <create-editor [exerciseFormGroup]="exerciseFormGroup" [editorType]="'source'"></create-editor>
        <create-editor [exerciseFormGroup]="exerciseFormGroup" [editorType]="'test'"></create-editor>
      </div>
    </div>

  </form>
</div>

<pre>{{ exerciseFormGroup.value | json }}</pre>