<a mat-button color="primary" routerLink="../../" routerLinkActive="active" mat-button>Back</a>

<div>
  <form [formGroup]="exerciseFormGroup">

    <create-intro [exerciseFormGroup]="exerciseFormGroup"></create-intro>

    <div [ngSwitch]="exerciseFormGroup.controls.intro.controls.exerciseType.value">
      <div *ngSwitchCase="'source-test'">
        <p>source-test</p>
        <!--<solve-run [solutionFormGroup]="solutionFormGroup"></solve-run>
          <solve-source [solutionFormGroup]="solutionFormGroup"></solve-source>
          <solve-test [solutionFormGroup]="solutionFormGroup"></solve-test> -->
      </div>
      <div *ngSwitchCase="'source-test-file'">
        <p>source-test-file</p>
        <!--<solve-run [solutionFormGroup]="solutionFormGroup"></solve-run>
            <solve-source [solutionFormGroup]="solutionFormGroup"></solve-source>
            <solve-test [solutionFormGroup]="solutionFormGroup"></solve-test>
            <solve-file [solutionFormGroup]="solutionFormGroup"></solve-file> -->
      </div>
      <div *ngSwitchCase="'test'">
        <p>test</p>
        <!--<solve-run [solutionFormGroup]="solutionFormGroup"></solve-run>
            <solve-test [solutionFormGroup]="solutionFormGroup"></solve-test> -->
      </div>
      <div *ngSwitchCase="'test-file'">
        <p>test-file</p>
        <!--<solve-run [solutionFormGroup]="solutionFormGroup"></solve-run>
            <solve-test [solutionFormGroup]="solutionFormGroup"></solve-test>
            <solve-file [solutionFormGroup]="solutionFormGroup"></solve-file> -->
      </div>
      <div *ngSwitchCase="'theory'">
        <p>theory</p>
      </div>
      <div *ngSwitchDefault>
        <p>default</p>
      </div>
    </div>

  </form>
</div>

<pre>{{ exerciseFormGroup.value | json }}</pre>