@import "~@angular/material/theming";

$mat-xp-primary: (
  50 : #e2e8e9,
    100 : #b7c7c7,
    200 : #87a1a2,
    300 : #577b7d,
    400 : #335f61,
    500 : #0f4345,
    600 : #0d3d3e,
    700 : #0b3436,
    800 : #082c2e,
    900 : #041e1f,
    A100 : #5cf6ff,
    A200 : #29f3ff,
    A400 : #00e7f5,
    A700 : #00cfdb,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$mat-xp-accent: (
  50: #f9e0e0,
  100: #f0b3b3,
  200: #e68080,
  300: #db4d4d,
  400: #d42626,
  500: #cc0000,
  600: #c70000,
  700: #c00000,
  800: #b90000,
  900: #ad0000,
  A100: #ffd7d7,
  A200: #ffa4a4,
  A400: #ff7171,
  A700: #ff5858,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #ffffff,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000
  )
);

$mat-xp-green: (
    50 : #edf5ea,
    100 : #d2e5ca,
    200 : #b5d4a7,
    300 : #97c284,
    400 : #80b569,
    500 : #6aa84f,
    600 : #62a048,
    700 : #57973f,
    800 : #4d8d36,
    900 : #3c7d26,
    A100 : #cdffbe,
    A200 : #a6ff8b,
    A400 : #7fff58,
    A700 : #6cff3f,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);


$primary: mat-palette($mat-xp-primary);
$accent: mat-palette($mat-xp-accent);
$green: mat-palette($mat-xp-green);

$theme: mat-light-theme($primary, $accent);

$grey-light: mat-color(mat-palette($mat-grey), lighter);
$grey-mid: mat-color(mat-palette($mat-grey), default);
$grey-dark: mat-color(mat-palette($mat-grey), darker);

$green-light: mat-color($green, lighter);
$green-mid: mat-color($green, default);
$green-dark: mat-color($green, darker);

$primary-light: mat-color($primary, lighter);
$primary-mid: mat-color($primary, default);
$primary-dark: mat-color($primary, darker);

$accent-light: mat-color($accent, lighter);
$accent-mid: mat-color($accent, default);
$accent-dark: mat-color($accent, darker);

$primary-light: mat-color($primary, lighter);
$primary-mid: mat-color($primary, default);
$primary-dark: mat-color($primary, darker);