.card {
  margin: 15px 0;

  .exercise {
    padding: 12px;

    .exercise__name {
      width: 70%;
      margin-left: 15%;
      text-align: center;
    }

    .exercise__description {
      white-space: pre-line;
    }
  }

  .output {
    white-space: pre-line;
    font-family: monospace;

    p {
      resize: none;
      border: none;
      padding: 4px;
      width: calc(100% - 8px);
      height: 192px;
      overflow: auto;
      margin: 0;
    }
  }

  .input__group {
    height: 60vh;

    .input__editor {
      height: calc(60vh - 48px);
      border: 1px solid #ebebeb;

      .input__monaco {
        height: 100%;
        overflow: hidden;
      }
    }

    .input__text {
      white-space: pre-line;

      textarea {
        height: calc(60vh - 48px - 8px);
        width: calc(100% - 8px);
        resize: none;
        border: none;
        padding: 4px;
        overflow: auto;
        font-size: 1.1em;
      }
    }
  }
}
