<form (ngSubmit)="submit()" [formGroup]="solutionFormGroup">
  <div class="pane">

    <div class="pane--side">
      <textarea readonly>
        Name: {{ exercise.name }}
        Description: {{ exercise.description }}
        Type: {{ exercise.type }}
      </textarea>

      <div class="pane--out">
        <textarea readonly></textarea>
      </div>
    </div>

    <div class="pane--code">
      <textarea matInput autofocus name="sourceCode" formControlName="sourceCode"></textarea>
    </div>

    <div class="pane--code">
      <textarea matInput autofocus name="sourceCode" formControlName="sourceCode"></textarea>
    </div>

  </div>
</form>