.pane {
  height: calc(100vh - 64px - 40px - 40px - 5vh);
  width: calc(100%);
  top: 0;
  left: 0;

  .pane__side {
    float: left;
    height: calc(100% - 1px);
    width: calc(25%);
    position: relative;
    border: 1px solid #ebebeb;
    border-right: 0px solid;

    .pane__name {
      border-bottom: 1px solid #ebebeb;
      padding: 5px;
    }

    .pane__description {
      padding: 5px;

      textarea {
        resize: none;
        width: calc(100% - 1px);
        padding: 0;
        border: 0;
      }
    }
    
    .pane__out {
      height: calc(30% - 1px);
      width: 100%;
      position: absolute;
      bottom: 0;
      border-top: 1px solid #ebebeb;
      white-space: pre-line;
      font-family: monospace;

      textarea {
        resize: none;
        border: none;
        height: calc(100% - 4px);
        width: calc(100% - 3px);
      }
    }
  }

  .pane__code {
    float: left;
    height: calc(100% - 1px);
    width: calc(37.5% - 1px);

    .container {
      height: calc(100vh - 64px - 40px - 40px - 5vh - 48px - 2px);
      border: 1px solid #ebebeb;
      border-right: 0px solid;

      .editor {
        height: 100%;
        overflow: hidden;
      }
    }
  }
}

.toolbar {
  min-height: 5vh;
  max-height: 5vh;
  
  &__run {
    float: left;
    width: 72px;
  }
}
