<div *ngIf="exercise">
  <div class="pane">

    <div class="pane--side">
      <textarea readonly>
        Name: {{ exercise.name }}
        Description: {{ exercise.description }}
        Type: {{ exercise.type }}
      </textarea>

      <div class="pane--out">
        <textarea readonly></textarea>
      </div>
    </div>

    <div class="pane--code">
      <div *ngFor="let sourceCode of solutionSourceCodes">
          <ngx-monaco-editor [options]="editorOptions" class="editor" [(ngModel)]="sourceCode.code"></ngx-monaco-editor>
      </div>
    </div>

    <div class="pane--code">
      <div>
        <textarea matInput name="testCode"></textarea>
      </div>
    </div>

  </div>
</div>