<div [formGroup]="controlContainer.control" class="mat-elevation-z2 card">

  <h3 class="capitalize">{{exerciseType}}</h3>

  <div *ngIf="viewPrivateInput; then privateInput; else noPrivateInput"></div>

  <ng-template #privateInput>
    <h4>Hidden {{exerciseType}}</h4>
    
    <div>
      <editor formGroupName="privateControl" [editorOptions]="editorOptions"></editor>
    </div>

    <div *ngIf="viewPublicInput">
      <h4>Shown {{exerciseType}}</h4>

      <mat-form-field>
        <mat-select [formControl]="form.controls.publicType.controls.chosen" [value]="form.controls.publicType.controls.chosen.value">
          <mat-option value="same">The same</mat-option>
          <mat-option value="custom">Custom</mat-option>
        </mat-select>
      </mat-form-field>

      <div *ngIf="form.controls.publicType.controls.chosen.value === 'custom'">
        <editor formGroupName="publicControl" [editorOptions]="editorOptions"></editor>
      </div>
    </div>
  </ng-template>

  <ng-template #noPrivateInput>
    <div *ngIf="viewPublicInput">
      <h4>Shown {{exerciseType}}</h4>
      <div>
        <editor formGroupName="publicControl" [editorOptions]="editorOptions"></editor>
      </div>
    </div>
  </ng-template>

</div>