<a mat-button color="primary" routerLink="../" routerLinkActive="active" mat-button>Back</a>

<div *ngIf="submitted; then success; else form"></div>

<ng-template #form>
  <form (ngSubmit)="submit()">
    <div class="mat-elevation-z2 card">
      <div class="form">

        <h2>{{ this.mode }} course</h2>

        <mat-form-field>
          <input matInput placeholder="Title" required name="course-name" [(ngModel)]="course.name" maxlength="35">
        </mat-form-field>

        <mat-form-field>
          <textarea matInput placeholder="Description" rows="6" required name="course-description"
            [(ngModel)]="course.description" maxlength="300">
  </textarea>
        </mat-form-field>
      </div>
    </div>
    <div class="mat-elevation-z2 card">
      <div class="submit">
        <button mat-button color="accent" class="submit__button" type="submit">
          Submit
        </button>
      </div>
    </div>
  </form>
</ng-template>

<ng-template #success>
  <div class="mat-elevation-z2 card">
    <p class="response">Course was saved successfully!</p>
    <div *ngIf="mode === 'create'">
      <button mat-button color="accent" class="submit__button" type="button" (click)="reset()">
        Create new course
      </button>
    </div>
  </div>
</ng-template>