<h2>Send Code with Test</h2>

<div [hidden]="submitted">

  <form (ngSubmit)="onSubmit()">
    <mat-form-field class="mat-elevation-z2">
      <input matInput placeholder="Source code filename" required 
      [(ngModel)]="taskContent.sourceFilename" name="sourceFilename">
    </mat-form-field>
    <mat-form-field class="mat-elevation-z2">
      <textarea matInput placeholder="Source code" rows="20" required
        [(ngModel)]="taskContent.sourceCode" name="sourceCode">
      </textarea>
    </mat-form-field>

    <mat-form-field class="mat-elevation-z2">
      <input matInput placeholder="Test code filename" required 
      [(ngModel)]="taskContent.testFilename" name="testFilename">
    </mat-form-field>
    <mat-form-field class="mat-elevation-z2">
      <textarea matInput placeholder="Test code" rows="20" required
        [(ngModel)]="taskContent.testCode" name="testCode">
      </textarea>
    </mat-form-field>

    <div class="submit">
      <button mat-raised-button color="accent" type="submit">Send</button>
    </div>
    
  </form>
</div>

<div [hidden]="!submitted">
  <p>You've sent files successfully!</p>
  <p *ngIf="!response">Wait for the result...</p>
  <button mat-raised-button color="accent"  (click)="newTask()">Send new</button>
</div>

<div *ngIf="response">
  <p><strong>{{response}}</strong></p>

  <div *ngIf="gotTestResult">
    <p><strong>Run time:</strong> {{ taskData.resultRunTime }} ms</p>
    <p><strong>Run count:</strong> {{ taskData.resultRunCount }}</p>

    <div *ngIf="taskData.resultSuccessful; then okBlock else failBlock"></div>

      <ng-template #okBlock>
          <p><strong>All tests ran successfully</strong></p>
      </ng-template>

      <ng-template #failBlock>
          <p><strong>Tests ran unsuccessfully</strong></p>
          <p><strong>Failures count:</strong> {{ taskData.resultFailuresCount }}</p>
          <p><strong>Failures:</strong> {{ taskData.resultFailures }}</p>
          <p><strong>Ignore count:</strong> {{ taskData.resultIgnoreCount }}</p>
      </ng-template>

  </div>
</div>
