<mat-toolbar class="toolbar">
  <mat-toolbar-row>

    <div>
      <a mat-button color="primary" routerLink="../../../../">Back</a>
    </div>

    <span class="space"></span>

    <div>
      <a mat-button color="primary" [routerLink]="['../', previousExerciseId]"
        [disabled]="0 > previousIndex">Previous</a>
    </div>

    <div>
      <a mat-button color="primary" [routerLink]="['../', nextExerciseId]" [disabled]="nextIndex >= maxIndex">Next</a>
    </div>

    <span class="space"></span>

    <div *ngIf="solved; then isSolved; else notSolved"></div>
    <ng-template #isSolved>
      <div class="exercise__progress">
        <a mat-button [disabled]="true" class="exercise__is_solved">Solved</a>
      </div>
    </ng-template>
    <ng-template #notSolved>
      <div class="exercise__progress">
        <a mat-button [disabled]="true" class="exercise__not_solved">Not solved ({{value}})</a>
      </div>
    </ng-template>

  </mat-toolbar-row>
</mat-toolbar>