@import "src/variables.scss";

.toolbar {
  min-height: 5vh;
  max-height: 5vh;
  margin: 15px 0;

  .space {
    flex: 1 1 auto;
  }

  .nav__back {
    width: 20%;
  }

  .exercise__progress {
    width: 20%;

    a {
      width: 100%;
    }

    .exercise__is_solved {
      color: $green-dark;
      text-align: right;
    }
  
    .exercise__not_solved {
      color: $accent-dark;
      text-align: right;
    }
  }
}
