@import "src/variables.scss";

.card {
  margin: 15px 0;

  .intro {
    padding: 12px;

    .intro__name {
      width: 70%;
      margin-left: 15%;
      text-align: center;
    }

    .intro__description {
      padding: 30px 60px;
      line-height: 1.5em;
    }
  }
}


// quill editor formatting

blockquote{
  border-left: 5px solid $grey-light;
  padding-left: 10px;
}

pre {
  background-color: $grey-light;
  white-space: pre-wrap;
  padding: 10px;
  font-family: monospace;
}

.ql-font-monospace {
  font-family: monospace;
}

.ql-font-serif {
  font-family: serif;
}

@for $i from 1 through 10 {
  $indent: $i;
  .ql-indent-#{$i} {
    text-indent: #{$indent}em;
  }
}

.ql-align-right {
  text-align: right;
}

.ql-align-center {
  text-align: center;
}

.ql-direction-rtl {
  direction: rtl;
}

.ql-size-small {
  font-size: small;
}

.ql-size-large {
  font-size: x-large;
}

.ql-size-huge {
  font-size: xx-large;
}