<a mat-button color="primary" routerLink="../../../" routerLinkActive="active" mat-button>Back</a>

<div *ngIf="submitted; then success; else form"></div>

<ng-template #form>
  <div *ngIf="exerciseFormGroup">
    <form [formGroup]="exerciseFormGroup">

      <create-intro [exerciseFormGroup]="exerciseFormGroup"></create-intro>

      <div *ngIf="exerciseFormGroup.controls.intro">
        <div *ngIf="exerciseFormGroup.controls.intro.controls.type.value"
          [ngSwitch]="exerciseFormGroup.controls.intro.controls.type.value">
          <div *ngSwitchCase="'whitebox'">
            <create-editors [exerciseFormGroup]="exerciseFormGroup" formGroupName=sourceControl></create-editors>
            <create-editors [exerciseFormGroup]="exerciseFormGroup" formGroupName=testControl></create-editors>
          </div>
          <div *ngSwitchCase="'whitebox-file'">
            <create-editors [exerciseFormGroup]="exerciseFormGroup" formGroupName=sourceControl></create-editors>
            <create-editors [exerciseFormGroup]="exerciseFormGroup" formGroupName=testControl></create-editors>
            <create-editors [exerciseFormGroup]="exerciseFormGroup" formGroupName=fileControl></create-editors>
          </div>
          <div *ngSwitchCase="'blackbox'">
            <create-editors [exerciseFormGroup]="exerciseFormGroup" formGroupName=sourceControl></create-editors>
            <create-editors [exerciseFormGroup]="exerciseFormGroup" formGroupName=testControl></create-editors>
          </div>
          <div *ngSwitchCase="'blackbox-file'">
            <create-editors [exerciseFormGroup]="exerciseFormGroup" formGroupName=sourceControl></create-editors>
            <create-editors [exerciseFormGroup]="exerciseFormGroup" formGroupName=testControl></create-editors>
            <create-editors [exerciseFormGroup]="exerciseFormGroup" formGroupName=fileControl></create-editors>
          </div>
          <div *ngSwitchCase="'theory'">
          </div>
        </div>

        <create-submit [exerciseFormGroup]="exerciseFormGroup"></create-submit>

        <div *ngIf="exerciseFormGroup.get('error').get('errorMessage').value !== ''">
          <error formGroupName=error></error>
        </div>

      </div>
    </form>

    <pre>{{ exerciseFormGroup.value | json }}</pre>
  </div>
</ng-template>


<ng-template #success>
  <div class="mat-elevation-z2 card">
    <p class="response"><span class="capitalise">{{ this.module }}</span> was saved successfully</p>
    <div *ngIf="mode === 'create'">
      <button mat-button color="accent" class="submit__button" type="button" (click)="reset()">
        Create new {{ this.module }}
      </button>
    </div>
  </div>
</ng-template>