<a mat-button color="primary" routerLink="../../../" routerLinkActive="active" mat-button>Back</a>


<div *ngIf="exerciseFormGroup">

  <div *ngIf="this.exerciseFormGroup.get('params').get('success').value; then success; else form"></div>

  <ng-template #form>

    <form [formGroup]="exerciseFormGroup">

      <div *ngIf="exerciseFormGroup.controls.intro">

        <create-intro [exerciseFormGroup]="exerciseFormGroup" formGroupName=intro></create-intro>

        <div *ngIf="exerciseFormGroup.controls.intro.controls.exercise.controls.type.value"
          [ngSwitch]="exerciseFormGroup.controls.intro.controls.exercise.controls.type.value.value">
          <div *ngSwitchCase="'whitebox'">
            <upsert-editors [exerciseFormGroup]="exerciseFormGroup" formGroupName=sourceControl></upsert-editors>
            <upsert-editors [exerciseFormGroup]="exerciseFormGroup" formGroupName=testControl></upsert-editors>
          </div>
          <div *ngSwitchCase="'whitebox-file'">
            <upsert-editors [exerciseFormGroup]="exerciseFormGroup" formGroupName=sourceControl></upsert-editors>
            <upsert-editors [exerciseFormGroup]="exerciseFormGroup" formGroupName=testControl></upsert-editors>
            <upsert-editors [exerciseFormGroup]="exerciseFormGroup" formGroupName=fileControl></upsert-editors>
          </div>
          <div *ngSwitchCase="'blackbox'">
            <upsert-editors [exerciseFormGroup]="exerciseFormGroup" formGroupName=sourceControl></upsert-editors>
            <upsert-editors [exerciseFormGroup]="exerciseFormGroup" formGroupName=testControl></upsert-editors>
          </div>
          <div *ngSwitchCase="'blackbox-file'">
            <upsert-editors [exerciseFormGroup]="exerciseFormGroup" formGroupName=sourceControl></upsert-editors>
            <upsert-editors [exerciseFormGroup]="exerciseFormGroup" formGroupName=testControl></upsert-editors>
            <upsert-editors [exerciseFormGroup]="exerciseFormGroup" formGroupName=fileControl></upsert-editors>
          </div>
          <div *ngSwitchCase="'theory'">
          </div>
        </div>

        <create-submit [exerciseFormGroup]="exerciseFormGroup"></create-submit>

        <div *ngIf="this.exerciseFormGroup.get('params').get('success').value === false; then error"></div>

        <ng-template #error>
          <error formGroupName=error></error>
        </ng-template>

      </div>
    </form>
  </ng-template>

  <ng-template #success>
    <div class="mat-elevation-z2 card">
      <p class="response">Exercise was saved successfully</p>
      <div *ngIf="exerciseFormGroup.controls.intro.controls.mode.value === 'create'">
        <button mat-button color="accent" class="submit__button" type="button" (click)="reset()">
          Create new exercise
        </button>
      </div>
    </div>
  </ng-template>

  <pre>{{ exerciseFormGroup.value | json }}</pre>
</div>