<a mat-button color="primary" routerLink="../" routerLinkActive="active" mat-button>Back</a>

<div *ngIf="submitted; then success; else form"></div>

<ng-template #form>
  <form *ngIf="lessonForm" (ngSubmit)="submit()" [formGroup]="lessonForm">
    <div class="mat-elevation-z2 card">
      <div class="form">

        <h2>Create new lesson</h2>

        <mat-form-field>
          <input matInput placeholder="Title" formControlName="name" maxlength="50">
        </mat-form-field>

        <mat-form-field>
          <textarea matInput placeholder="Description" rows="6" formControlName="description" maxlength="500">
              </textarea>
        </mat-form-field>
      </div>
    </div>

    <div class="mat-elevation-z2 card">
      <div class="submit">
        <button mat-button color="accent" class="submit__button" type="submit" [disabled]="!lessonForm.valid">
          Submit
        </button>
      </div>
    </div>
  </form>
</ng-template>

<ng-template #success>
  <div class="mat-elevation-z2 card">
    <p class="response">Lesson was saved successfully</p>
    <button mat-button color="accent" class="submit__button" type="button" (click)="reset()">
      Create new lesson
    </button>
  </div>
</ng-template>