<a mat-button color="primary" routerLink="../" routerLinkActive="active" mat-button>Back</a>

<div [hidden]="submitted" class="mat-elevation-z2">
  <form (ngSubmit)="submit()" class="form">
      <h2>Create new exercise</h2>
      <div class="form__inputs">
        <mat-form-field>
            <input matInput placeholder="Title" required name="exercise-name" [(ngModel)]="exercise.name" maxlength="35">
          </mat-form-field>
    
          <mat-form-field>
            <textarea matInput placeholder="Description" rows="6" required name="exercise-description" 
            [(ngModel)]="exercise.description"  maxlength="1000">
            </textarea>
          </mat-form-field>

          <!-- <div [hidden]="types.size != 0"> -->

            <mat-form-field>
              <mat-select placeholder="Exercise type" [(ngModel)]="selectedTypeValue" name="type">
                <mat-option *ngFor="let type of types" [value]="type.value">
                  {{type.name}}
                </mat-option>
              </mat-select>
            </mat-form-field>


            <div [hidden]="selectedTypeValue">
              <container-element [ngSwitch]="selectedTypeValue">
                <div *ngSwitchCase="">

                </div>
              </container-element>
            </div>
            

          <!-- </div> -->
      </div>
  </form>
</div>