@import "src/variables.scss";

.env {
  padding: 10px;
  background-color: $grey;

  .env__container {
    overflow: hidden;
    
    .env__editor {
      border: 1px solid $grey;
      height: 60vh;
      width: 100%;
    }
  }
}