@import "src/variables.scss";

.button {
  margin: 0 10px;
}

.solution {
  padding: 8px 12px;
  // font-size: 1.1em;

  .solution__title {
    width: 15%;
  }

  .solution__description {
    width: 85%;
  }

  .solution__solved--true {
    color: $green-mid;
    width: 20%;
  }

  .solution__solved--false {
    color: $accent-mid;
    width: 20%;
  }

}

.content__filename {
  width: 25%;
}

.content__content {
  width: 75%;
}

.paginator {
  margin-top: 20px;

  .paginator__button {
    width: 20%;
  }

  .paginator__element {
    width: 80%;
    float: right;
  }
}
