<div>

  <div>
    Chosen solution content:
    <mat-form-field>
      <div *ngIf="chosen; then showChosen; else showEmpty"></div>
      <ng-template #showChosen>
        <input autofocus disabled matInput [(ngModel)]="chosen.id">
      </ng-template>
      <ng-template #showEmpty>
        <input autofocus disabled matInput>
      </ng-template>
    </mat-form-field>

    <button mat-raised-button color="primary" type="button" [mat-dialog-close]="chosen" class="button">Done</button>
    <button mat-raised-button color="primary" type="button" (click)="onCloseClick()" class="button">Cancel</button>
  </div>

  <mat-accordion>
    <mat-expansion-panel *ngFor="let solution of shownEstimations; let i = index">

      <mat-expansion-panel-header class="solution">
        <mat-panel-title class="solution__title">
          <p>{{ solution.created | date:'MM.d.y HH:mm' }}</p>
        </mat-panel-title>
        <mat-panel-description class="solution__description">
          <p *ngIf="solution.solved; then isSolved; else notSolved"></p>
          <ng-template #isSolved>
            <p class="solution__solved--true">Solved</p>
          </ng-template>
          <ng-template #notSolved>
            <p class="solution__solved--false">Not solved</p>
          </ng-template>
          <p>{{ (solution.estimation.length > 150)?
               (solution.estimation | slice:0:150) + '...':(solution.estimation) }}</p>
        </mat-panel-description>
      </mat-expansion-panel-header>

      <mat-nav-list *ngIf="currentContent" class="content">
        <mat-list-item *ngFor="let item of currentContent[i]" (click)="choose(item)" class="item">
          <p class="content__filename">{{ item.filename }}</p>
          <pre class="content__content">{{ item.content }}</pre>
        </mat-list-item>
      </mat-nav-list>

    </mat-expansion-panel>
  </mat-accordion>

  <div class="paginator">
    <button mat-raised-button color="primary" type="button" class="paginator__button" (click)="loadMore()">Load more</button>

    <div class="paginator__element">
      <mat-paginator (page)="pageEvent = pageChangeEvent($event)" [pageSize]="pageSize" [length]="length">
      </mat-paginator>
    </div>
  </div>

</div>