@import "src/variables.scss";

.solution {
  .solution__title {
    width: 15%;
  }

  .solution__dscription {
    width: 85%;
  }

  .solution__solved--true {
    color: $green-mid;
    width: 20%;
  }

  .solution__solved--false {
    color: $accent-mid;
    width: 20%;
  }

}

.content__filename {
  width: 25%;
}

.content__content {
  width: 75%;
}

.paginator {
  margin-top: 20px;

  .paginator__button {
    width: 20%;
  }

  .paginator__element {
    width: 80%;
    float: right;
  }
}
