<div [formGroup]="exerciseFormGroup" class="mat-elevation-z2 card">

  <div class="intro" *ngIf="exerciseFormGroup.controls.intro">

    <h2><span class="capitalise">{{exerciseFormGroup.controls.intro.controls.mode.value}}</span> exercise</h2>

    <mat-form-field class="intro__field">
      <input matInput placeholder="Title" [formControl]="exerciseFormGroup.controls.intro.controls.name" maxlength="35">
    </mat-form-field>

    <mat-form-field class="intro__field">
      <mat-select placeholder="Exercise type" [formControl]="exerciseFormGroup.controls.intro.controls.type">
        <mat-option *ngFor="let type of types" [value]="type.value">
          {{type.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <div>
      <h4>Description</h4>
      <quill-editor [formControl]="exerciseFormGroup.controls.intro.controls.description" [style]="{height: '500px'}">
      </quill-editor>
    </div>

  </div>

</div>