.card {
  padding: 20px;

  .editor {
    .ql-font-monospace {
      color: aqua;
      font-family: monospace;
    }
  }

  .capitalise {
    text-transform: capitalize;
  }

  .intro__field {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    margin-left: 0;
    width: 50%;
  }

}


