@import "src/variables.scss";

.toolbar__row {
  padding: 0 24px;
  margin: 8px 0;

  .title {
    a {
      text-decoration: none;
      color: white;
    }
  }

  .space {
    flex: 1 1 auto;
  }

  .button {
    a {
      font-size: 1em;
      text-decoration: none;
      color: $grey;
    }
  }
}

.container {
  margin: 40px;
}
