button {
    margin: 5px;
}

.card {
    padding: 20px;
}

// .exercise {

    .exercise__name {
        float: left;
    }

    .exercise__type {
        float: right;
        color: darkgrey;
    }
// }