<div *ngIf="course$ | async as course">

    <h2>Course: {{ course.name }}</h2>

    <p><strong>Created: </strong>{{ course.created }}</p>

    <p><strong>Description: </strong>{{ course.description }}</p>

    <div *ngIf="lessons$ | async as lessons">

        <h3>Syllabus</h3>

        <mat-accordion>
            <mat-expansion-panel *ngFor="let lesson of lessons">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Lesson: {{ lesson.name }}
                    </mat-panel-title>
                    <mat-panel-description>
                        {{ lesson.description }}
                    </mat-panel-description>
                </mat-expansion-panel-header>
                <p>Exercise #</p>
                <button mat-raised-button color="primary" [routerLink]="['../../exerciseCreate', lesson.id]" 
                    routerLinkActive="active">Create exercise</button>
                <button mat-raised-button color="primary" (click)="todo">Edit lesson</button>
                <button mat-raised-button color="primary" (click)="todo">Delete lesson</button>
            </mat-expansion-panel>
        </mat-accordion>

    </div>

    

</div>

