<a mat-button color="primary" routerLink="../../courses" routerLinkActive="active" mat-button>Back</a>

<div *ngIf="course" class="mat-elevation-z2 card">

  <h1>Course: {{ course.name }}</h1>

  <p><strong>Created: </strong>{{ course.created | date:'EEEE, MMMM d, y. HH:mm zzzz' }}</p>

  <p><strong>Description: </strong>{{ course.description }}</p>

  <div *ngIf="lessons">

    <h2>Syllabus</h2>

    <mat-accordion>
      <mat-expansion-panel *ngFor="let lesson of lessons">

        <mat-expansion-panel-header class="lesson">
          <mat-panel-title class="lesson__name">
            <p>{{ lesson.name }}</p>
          </mat-panel-title>
          <mat-panel-description class="lesson__description">
            <p>{{ lesson.description }}</p>
          </mat-panel-description>
        </mat-expansion-panel-header>

        <mat-nav-list *ngIf="exercises && exerciseTypes">
          <mat-list-item *ngFor="let exercise of getExercisesByLessonId(lesson.id)" class="exercise"
            [routerLink]="['lesson', lesson.id, 'exerciseSolve', exercise.id]" routerLinkActive="active">
            <p class="exercise__name">{{ exercise.name }}</p>
            <p class="exercise__type">{{ getExerciseTypeName(exercise.typeId) }}</p>
            <p *ngIf="exercise.solved; then solved; else notSolved"></p>
            <ng-template #solved>
              <p class="exercise__solved">Solved</p>
            </ng-template>
            <ng-template #notSolved>
              <p class="exercise__notsolved">Not solved</p>
            </ng-template>
          </mat-list-item>
        </mat-nav-list>

        <button mat-raised-button color="primary" [routerLink]="['lessonEdit', lesson.id]" routerLinkActive="active">
          Edit lesson
        </button>

        <button mat-raised-button color="primary" (click)="delete(lesson)">Delete lesson</button>

      </mat-expansion-panel>
    </mat-accordion>

  </div>



</div>