@import "src/variables.scss";

button {
  margin: 5px;
}

.card {
  padding: 20px;

  .lessons {
    margin: 20px 0;
    
    .lesson {
      font-size: 1.1em;
  
      .lesson__name {
        width: 40%;
      }
  
      .lesson__description {
        width: 60%;
        font-weight: 300;
      }
    }

    .exercise {
      border-bottom: 1px solid $grey-light;
    
      .exercise__name {
        width: 50%;
      }
    
      .exercise__type {
        color: $grey-dark;
        width: 30%;
        font-weight: 300;
      }
    
      .exercise__is_solved,
      .exercise__not_solved {
        text-align: right;
        width: 20%;
      }
    
      .exercise__is_solved {
        color: $green-dark;
        font-weight: 300;
      }
    
      .exercise__not_solved {
        color: $accent-dark;
        font-weight: 300;
      }
    }
  }
}

