<div [formGroup]="exerciseFormGroup">

  <h3>Source code</h3>
  <div formArrayName="sources" class="env">
    <div *ngFor="let source of exerciseFormGroup.controls.sources.controls; let i = index;">
      <div [formGroupName]="i">

        <mat-tab-group>
          <mat-tab [label]="exerciseFormGroup.value.sources.sourceFilename">
            <div class="env__container">
              <ngx-monaco-editor [options]="editorOptions" formControlName="sourceCode" class="env__editor"></ngx-monaco-editor>
            </div>
          </mat-tab>
        </mat-tab-group>

      </div>
    </div>
  </div>

  <h3>Tests</h3>
  <div formArrayName="tests" class="env">
    <div *ngFor="let test of exerciseFormGroup.controls.tests.controls; let i = index;">
      <div [formGroupName]="i">

        <mat-tab-group>
          <mat-tab [label]="exerciseFormGroup.value.tests.testFilename">
            <div class="env__container">
              <ngx-monaco-editor [options]="editorOptions" formControlName="testCode" class="env__editor"></ngx-monaco-editor>
            </div>
          </mat-tab>
      </mat-tab-group>

    </div>
  </div>
</div>


<!-- <div class="env">
    <mat-tab-group>
      <mat-tab label="tab">

      </mat-tab>
    </mat-tab-group>
    <div class="env__tabs">
      <div class="env__tab">
        Tab
      </div>
    </div>
    <div class="env__editors"></div>
    <ngx-monaco-editor [options]="editorOptions" class="env__editor"></ngx-monaco-editor>
  </div> -->
</div>

<div [formGroup]="exerciseFormGroup" *ngIf="exerciseFormGroup">
  <div *ngIf="exerciseFormGroup.value.sources">
    <div formArrayName="sources">
      <div *ngFor="let source of exerciseFormGroup.controls.sources.controls; let i = index;">
        <div [formGroupName]="i">
          <mat-form-field class="mat-elevation-z2">
            <input matInput placeholder="Source code filename" required name="sourceFilename"
              formControlName="sourceFilename">
          </mat-form-field>
          <mat-form-field class="mat-elevation-z2">
            <textarea matInput placeholder="Source code" rows="20" required name="sourceCode"
              formControlName="sourceCode"></textarea>
          </mat-form-field>
        </div>
      </div>
    </div>
  </div>
  <div formArrayName="tests" *ngIf="exerciseFormGroup.value.tests">
    <div *ngFor="let test of exerciseFormGroup.controls.tests.controls; let i = index;">
      <div [formGroupName]="i">
        <mat-form-field class="mat-elevation-z2">
          <input matInput placeholder="Test code filename" required name="testFilename" formControlName="testFilename">
        </mat-form-field>

        <mat-form-field class="mat-elevation-z2">
          <textarea matInput placeholder="Test code" rows="20" required name="testCode"
            formControlName="testCode"></textarea>
        </mat-form-field>
      </div>
    </div>
  </div>
</div>

<!-- 
<mat-form-field class="mat-elevation-z2">
  <input matInput placeholder="Source code filename" required name="sourceFilename" formControlName="sourceFilename">
</mat-form-field>

<mat-form-field class="mat-elevation-z2">
  <textarea matInput placeholder="Source code" rows="20" required name="sourceCode"
    formControlName="sourceCode"></textarea>
</mat-form-field>


<mat-form-field class="mat-elevation-z2">
  <input matInput placeholder="Test code filename" required name="testFilename" formControlName="testFilename">
</mat-form-field>

<mat-form-field class="mat-elevation-z2">
  <textarea matInput placeholder="Test code" rows="20" required name="testCode" formControlName="testCode"></textarea>
</mat-form-field> -->