.mat-form-field {
  width: 450px;
  margin-right: 30px;
}

.submit {
  float: left;
  clear: both;
  margin-bottom: 40px;
}

.env {
  padding: 10px;
  background-color: #ebebeb;

  .env__container {
    overflow: hidden;
    
    .env__editor {
      border: 1px solid #dadada;
      height: 80vh;
      width: 100%;
    }

    
  }

  
}

