<mat-form-field class="mat-elevation-z2">
  <input matInput placeholder="Source code filename" required name="sourceFilename" formControlName="sourceFilename">
</mat-form-field>

<mat-form-field class="mat-elevation-z2">
  <textarea matInput placeholder="Source code" rows="20" required name="sourceCode"
    formControlName="sourceCode"></textarea>
</mat-form-field>


<mat-form-field class="mat-elevation-z2">
  <input matInput placeholder="Test code filename" required name="testFilename" formControlName="testFilename">
</mat-form-field>

<mat-form-field class="mat-elevation-z2">
  <textarea matInput placeholder="Test code" rows="20" required name="testCode" formControlName="testCode"></textarea>
</mat-form-field>