<h1><a routerLink=".">Courses</a></h1>

<nav>

  <a routerLink="courseCreate" routerLinkActive="active">
    <mat-card class="link">
      <mat-icon class="link__icon">add</mat-icon>
      <mat-card-content class="link__content">
        <button mat-button type="button" mat-stroked-button color="primary">
          Create course
        </button>
      </mat-card-content>
    </mat-card>
  </a>


  <a routerLink="coursesList" routerLinkActive="active">
  <mat-card class="link">
    <mat-icon class="link__icon">remove_red_eye</mat-icon>
    <mat-card-content class="link__content">
      <button mat-button type="button" mat-stroked-button color="primary">
        View courses
      </button>
    </mat-card-content>
  </mat-card></a>

</nav>