<h1><a routerLink=".">Courses</a></h1>

<nav>

  <mat-card class="link">
    <mat-icon class="link__icon">add</mat-icon>
    <mat-card-content class="link__content">
      <a mat-stroked-button color="primary" routerLink="courseCreate" routerLinkActive="active" mat-button>
        Create course
      </a>
    </mat-card-content>
  </mat-card>


  <mat-card class="link">
    <mat-icon class="link__icon">remove_red_eye</mat-icon>
    <mat-card-content class="link__content">
      <a mat-stroked-button color="primary" routerLink="coursesList" routerLinkActive="active" mat-button>
        View courses
      </a>
    </mat-card-content>
  </mat-card>

</nav>