@import "src/variables.scss";

.toolbar {
  min-height: 5vh;
  max-height: 5vh;
  margin: 15px 0;

  .space {
    flex: 1 1 auto;
  }

  .exercise__is_solved {
    color: $green-dark;
    text-align: right;
    width: 15%;
  }

  .exercise__not_solved {
    color: $accent-dark;
    text-align: right;
    width: 15%;
  }
}
