table,
td,
th {
  border: 1px solid #9d9d9d;
  border-collapse: collapse;
  padding: 5px 15px;
}

table {
  tr:nth-child(odd) {
    background-color: #f1f1f1;
  }

  table tr:nth-child(even) {
  background-color: #ffffff;
  }
}

.btn {
  margin-bottom: 10px;
}
