.card {
  margin: 15px 0;

  .editor {
    height: 80vh;

    .editor__container {
      height: calc(80vh - 48px);
      border: 1px solid #ebebeb;

      .editor__monaco {
        height: 100%;
        overflow: hidden;
      }
    }
  }
}
