.card {
  margin: 15px 0;
  height: 80vh;
  clear: both;

  .editor {
    height: 80vh;
    width: 75%;
    float: left;

    .editor__container {
      height: calc(80vh - 48px);

      .editor__monaco {
        height: 100%;
        overflow: hidden;
      }
    }
  }

  .loader {
    width: 25%;
    background-color: #ebebeb;
    height: 80vh;
    float: left;

    h3 {
      padding: 5px;
    }
  }
}
