<div [formGroup]="form" class="mat-elevation-z2 card">

  <div formArrayName="solutionControl" class="editor">
    <mat-tab-group>
      <mat-tab *ngFor="let file of form.controls.solutionControl.controls; let i = index;">
        <div [formGroupName]="i">
          <ng-template mat-tab-label>
            {{ file.value.filename }}
          </ng-template>
          <ng-template matTabContent>
            <div class="editor__container">
              <ngx-monaco-editor [options]="editorOptions" formControlName="content" class="editor__monaco">
              </ngx-monaco-editor>
            </div>
          </ng-template>
        </div>
      </mat-tab>
    </mat-tab-group>
  </div>

  <aside class="sidebar">

    <mat-action-list class="sidebar__button">
      <button mat-list-item (click)="reset()">
        <mat-icon mat-list-icon>refresh</mat-icon>
        <p>Reset</p>
      </button>
      <button mat-list-item (click)="showLoadSolutionDialog(null)">
        <mat-icon mat-list-icon><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
            <path d="M9 16h6v-6h4l-7-7-7 7h4zm-4 2h14v2H5z" /></svg></mat-icon>
        <p>Load from solution</p>
      </button>
    </mat-action-list>

    <mat-divider></mat-divider>

    <mat-list class="sidebar__list">

      <mat-list-item mat-line>
        <mat-icon mat-list-icon><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
            <path d="M9 16h6v-6h4l-7-7-7 7h4zm-4 2h14v2H5z" /></svg></mat-icon>
        <p>Load from exercise:</p>
      </mat-list-item>

      <mat-accordion>
        <mat-expansion-panel *ngFor="let lesson of lessons">
          <mat-expansion-panel-header>
            <mat-panel-title>
              {{ lesson.name }}
            </mat-panel-title>
          </mat-expansion-panel-header>
          <div>
            <mat-action-list class="loader__exercises">
              <div *ngFor="let exercise of exercises[lesson.id]">
                <button mat-list-item class="loader__exercise" (click)="showLoadSolutionDialog(exercise)">
                  <p>{{ exercise.name }}</p>
                </button>
              </div>
            </mat-action-list>
          </div>
        </mat-expansion-panel>
      </mat-accordion>

      <!-- <ng-container *ngFor="let lesson of lessons">
        <mat-list-item mat-line>{{ lesson.name }}</mat-list-item>

        <mat-action-list class="loader__exercises">
          <div *ngFor="let exercise of exercises[lesson.id]">
            <button mat-list-item class="loader__exercise" (click)="showLoadSolutionDialog(exercise)">
              <p>{{ exercise.name }}</p>
            </button>
          </div>
        </mat-action-list>
      </ng-container> -->
    </mat-list>

  </aside>

</div>