@import "src/variables.scss";

.card {
  margin: 15px 0;
  height: 80vh;
  clear: both;

  .editor {
    height: 80vh;
    width: 75%;
    float: left;

    .editor__container {
      height: calc(80vh - 48px);

      .editor__monaco {
        height: 100%;
        overflow: hidden;
      }
    }
  }

  .sidebar {
    width: calc(25% - 20px);
    background-color: $grey-light;
    height: calc(80vh - 20px);
    overflow-y: auto;
    padding: 10px;
  }
}
