<div [formGroup]="solutionFormGroup" class="mat-elevation-z2 card">
  <div *ngIf="solutionFormGroup.controls.solutionFiles">
    <div formArrayName="solutionFiles" class="file">

      <mat-tab-group>
        <mat-tab *ngFor="let file of solutionFormGroup.controls.solutionFiles.controls; let i = index;">
          <div [formGroupName]="i">
            <ng-template mat-tab-label>
              {{ file.value.filename }}
            </ng-template>
            <ng-template matTabContent>
              <div class="file__editor">
                <ngx-monaco-editor [options]="editorOptions" formControlName="content" class="file__monaco">
                </ngx-monaco-editor>
              </div>
            </ng-template>
          </div>
        </mat-tab>
      </mat-tab-group>

    </div>
  </div>
</div>