<div [formGroup]="exerciseFormGroup" class="mat-elevation-z2 card">

  <h2>Create new exercise</h2>

  <div class="intro" *ngIf="exerciseFormGroup.controls.intro">

    <mat-form-field class="intro__field intro__field--name">
      <input matInput placeholder="Title" [formControl]="exerciseFormGroup.controls.intro.controls.name" maxlength="35">
    </mat-form-field>

    <mat-form-field class="intro__field intro__field--type">
        <mat-select placeholder="Exercise type" [formControl]="exerciseFormGroup.controls.intro.controls.type">
          <mat-option *ngFor="let type of types" [value]="type">
            {{type.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>

    <div class="intro__field intro__field--descr">
      <h4>Description</h4>
      <quill-editor [formControl]="exerciseFormGroup.controls.intro.controls.description"></quill-editor>
    </div>

  </div>

</div>