<div [formGroup]="controlContainer.control" class="mat-elevation-z2 card">

  <h3 class="capitalize">{{exerciseTypePlural}}</h3>

  <editor formGroupName="privateControl" [type]="private"></editor>

  <div>
    <h4>Shown {{exerciseTypePlural}}</h4>

    <mat-form-field>
      <mat-select [formControl]="form.controls.publicType.controls.chosen">
        <mat-option value="same">The same</mat-option>
        <mat-option value="custom">Custom</mat-option>
      </mat-select>
    </mat-form-field>

    <div *ngIf="form.controls.publicType.controls.chosen.value === 'custom'">
      <editor formGroupName="publicControl" [type]="public"></editor>
    </div>
  </div>

</div>