<div *ngIf="exercise">

  <toolbar [exercise]="exercise"></toolbar>

  <div *ngIf="solutionFormGroup">
    <div [formGroup]="solutionFormGroup">

      <div *ngIf="exerciseType">

        <solve-intro [solutionFormGroup]="solutionFormGroup"></solve-intro>

        <div [ngSwitch]="exerciseType.value">
          <div *ngSwitchCase="'whitebox'">
            <solve-run [solutionFormGroup]="solutionFormGroup"></solve-run>
            <solve-source [solutionFormGroup]="solutionFormGroup"></solve-source>
            <solve-test [solutionFormGroup]="solutionFormGroup"></solve-test>
          </div>
          <div *ngSwitchCase="'whitebox-file'">
            <solve-run [solutionFormGroup]="solutionFormGroup"></solve-run>
            <solve-source [solutionFormGroup]="solutionFormGroup"></solve-source>
            <solve-test [solutionFormGroup]="solutionFormGroup"></solve-test>
            <solve-file [solutionFormGroup]="solutionFormGroup"></solve-file>
          </div>
          <div *ngSwitchCase="'blackbox'">
            <solve-run [solutionFormGroup]="solutionFormGroup"></solve-run>
            <solve-test [solutionFormGroup]="solutionFormGroup"></solve-test>
          </div>
          <div *ngSwitchCase="'blackbox-file'">
            <solve-run [solutionFormGroup]="solutionFormGroup"></solve-run>
            <solve-test [solutionFormGroup]="solutionFormGroup"></solve-test>
            <solve-file [solutionFormGroup]="solutionFormGroup"></solve-file>
          </div>
          <div *ngSwitchDefault>
            <p>default</p>
          </div>
        </div>
      </div>

    </div>
  </div>

  <toolbar [exercise]="exercise"></toolbar>

</div>

<pre *ngIf="solutionFormGroup">{{ solutionFormGroup.value | json }}</pre>