<div *ngIf="exercise">

  <toolbar [exercise]="exercise"></toolbar>

  <div *ngIf="exerciseType" [ngSwitch]="exerciseType.value">
    <div *ngSwitchCase="'source-test'">
      <solve-intro></solve-intro>
    </div>
    <div *ngSwitchCase="'source-test-file'">
      <solve-intro></solve-intro>
    </div>
    <div *ngSwitchCase="'test'">
      <solve-intro></solve-intro>
    </div>
    <div *ngSwitchCase="'test-file'">
      <solve-intro></solve-intro>
    </div>
    <div *ngSwitchCase="'single-quiz'">
      <solve-intro></solve-intro>
    </div>
    <div *ngSwitchCase="'multiple-quiz'">
      <solve-intro></solve-intro>
    </div>
    <div *ngSwitchCase="'theory'">
      <solve-intro></solve-intro>
    </div>
    <div *ngSwitchDefault>
      <p>default</p>
    </div>
  </div>

  <toolbar [exercise]="exercise"></toolbar>

</div>