<div *ngIf="exercise">

  <div *ngIf="solutionFormGroup">
    <div [formGroup]="solutionFormGroup">

      <toolbar formGroupName="intro"></toolbar>

      <div *ngIf="exerciseType">

        <solve-intro [solutionFormGroup]="solutionFormGroup"></solve-intro>

        <div [ngSwitch]="exerciseType.value">
          <div *ngSwitchCase="'theory'">
            <solve-mark formGroupName="intro"></solve-mark>
          </div>
          <div *ngSwitchCase="'whitebox'">
            <solve-run [solutionFormGroup]="solutionFormGroup"></solve-run>
            <solve-editor [solutionFormGroup]="solutionFormGroup" formGroupName=sourceControl></solve-editor>
            <solve-editor [solutionFormGroup]="solutionFormGroup" formGroupName=testControl></solve-editor>
          </div>
          <div *ngSwitchCase="'whitebox-file'">
            <solve-run [solutionFormGroup]="solutionFormGroup"></solve-run>
            <solve-editor [solutionFormGroup]="solutionFormGroup" formGroupName=sourceControl></solve-editor>
            <solve-editor [solutionFormGroup]="solutionFormGroup" formGroupName=testControl></solve-editor>
            <solve-editor [solutionFormGroup]="solutionFormGroup" formGroupName=fileControl></solve-editor>
          </div>
          <div *ngSwitchCase="'blackbox'">
            <solve-run [solutionFormGroup]="solutionFormGroup"></solve-run>
            <solve-editor [solutionFormGroup]="solutionFormGroup" formGroupName=testControl></solve-editor>
          </div>
          <div *ngSwitchCase="'blackbox-file'">
            <solve-run [solutionFormGroup]="solutionFormGroup"></solve-run>
            <solve-editor [solutionFormGroup]="solutionFormGroup" formGroupName=testControl></solve-editor>
            <solve-editor [solutionFormGroup]="solutionFormGroup" formGroupName=fileControl></solve-editor>
          </div>
        </div>
      </div>

      <toolbar formGroupName="intro"></toolbar>

    </div>
  </div>

  

</div>

<pre *ngIf="solutionFormGroup">{{ solutionFormGroup.value | json }}</pre>